/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* 
#353148
#2C283D
#FFFFFF
#F9B200
*/
html {
  scroll-behavior: smooth;
}
body {
  background-color: #080f0f !important;
}
#main {
  overflow-x: hidden;
}

h1 {
  letter-spacing: 0.2rem;
  text-align: center;
}
#social {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  top: 230px;
  right: 20px;
  z-index: 2;
}
#social div {
  color: #ffffff;
  margin: 10px 0;
}
#social a {
  color: #ffffff;
  padding: 0 10px;
}
#social a:hover {
  color: #ffc107;
}

#overlay {
  width: 350px;
  height: 350px;
  background-color: #ffffff;
}
#overlay > img {
  width: 350px;
  height: 350px;
  top: 35px;
  left: 35px;
}
#navbar-container {
  background-color: #080f0f;
}
.navbar .nav-link {
  font-size: 0.8rem;
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}
.navbar .nav-link.active {
  color: #ffc107 !important;
}
.navbar .nav-link:hover {
  color: #6580e1 !important;
}

#landing {
  color: #ffffff;
  overflow-x: hidden;
}
#landing h3:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #6580e1;
}
#landing h2 {
  font-size: 4rem;
}
#landing p {
  font-size: 1.3rem;
  line-height: 2rem !important;
}
#title {
  color: #ffc107;
  font-size: 1.8rem;
}

#landing p {
  line-height: 30px;
}
#landing a {
  color: #ffffff;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 2px;
  letter-spacing: 2px;
  border-radius: 2px;
  border: 1px solid #ffc107;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #ffffff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.timeline-container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.right-container img {
  left: -20px;
}
.text-box h2 {
  font-weight: 600;
  color: #ffffff;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
  color: #ffc107;
}
.text-box p {
  color: #ffffff;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ffc107;
  right: -14px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ffc107;
  left: -14px;
}
#projects h1:after,
#contact h1:after,
#stacks h1:after {
  content: "";
  position: absolute;
  width: 4%;
  height: 5px;
  bottom: -18px;
  right: 48.5%;
  background-color: #ffc107;
}
#projects {
  padding-top: 10rem;
}
#projects h1 {
  color: #ffffff;
}
#projects h5 {
  color: #ffc107;
}
/* #projects .card {
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
} */

#projects .card {
  transition: transform 0.3s ease-in-out;
  background-color: #080f0f;
  overflow: hidden;
}
#projects .card:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}
#projects a {
  text-decoration: none;
}
#projects p {
  color: #ffffff;
}
#projects .btn {
  background-color: #080f0f;
}
#projects h4 {
  color: #ffc107;
}

#projects .stacks > div {
  border-radius: 10px;
  color: #ffffff;
  font-size: 0.8rem;
}
#contact {
  color: #ffffff;
  padding-top: 7rem;
}
#contact form {
  max-width: 600px;
  margin: auto;
}
#contact input,
#contact textarea {
  background-color: #e3e7f3;
}
#contact .inbox {
  font-size: 2rem;
  color: #080f0f;
}
form #button {
  background-color: #ffc107;
  color: #080f0f;
  padding: 5px 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  border-radius: 20px;
  border: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin: 150px 0;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 80px;
  margin: 0 40px;
}
#footer div {
  background-color: #080f0f;
  height: 60px;
  margin-top: 2rem;
}
#footer .copyright {
  color: #6580e1;
}

/* Extra Small (default styles) */
/* Small */
@media (max-width: 575.98px) {
  /* Styles for screens less than 576 pixels */

  #social {
    position: absolute;
  }
  #landing {
    padding-top: 100px;
  }
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .timeline-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }

  .left-container img,
  .right-container img {
    left: 10px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #ffc107;
    border-left: 0;
    left: -15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for screens between 576 and 767.98 pixels */
  #landing-image {
    margin-top: 100px;
  }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for screens between 768 and 991.98 pixels */
  #landing {
    padding-top: 120px;
  }
  #caption {
    margin-top: 50px;
  }
}

/* Large */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for screens between 992 and 1199.98 pixels */
  #landing {
    padding-top: 11rem;
  }
}

/* Extra Large */
@media (min-width: 1200px) {
  /* Styles for screens 1200 pixels and above */
  #landing {
    padding-top: 9rem;
  }
}

.back-video {
  right: 0;
  bottom: 0;
  height: 300px;
}
