/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
/* 
#353148
#2C283D
#FFFFFF
#F9B200
*/
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff !important;
}
#main {
  overflow-x: hidden;
}
h1 {
  letter-spacing: 0.2rem;
}
#overlay {
  max-width: 300px;
  height: 300px;
  background-color: #ffffff;
}
#overlay > img {
  top: 35px;
  left: 35px;
}
div[class="card"] {
  background-color: #080f0f;
  transition: transform 0.3s ease;
  border-radius: 0;
  max-width: 300px;
  height: auto;
}
#navbar-container {
  background-color: #080f0f;
}
.navbar .nav-link {
  font-size: 1.1rem;
  color: #ffffff !important;
}
.navbar .nav-link.active {
  color: #ffc107 !important;
}
.navbar .nav-link:hover {
  color: #6580e1 !important;
}

#landing {
  background-color: #080f0f;
  color: #ffffff;
  overflow-x: hidden;
}
#landing h3 {
  color: #ffc107;
}
#landing p {
  font-size: 1.2rem;
}

#landing h2:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #6580e1;
}
#landing p {
  line-height: 30px;
}
#main h1:after {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #ffc107;
}
#projects {
  padding-top: 5rem;
}
#projects h1 {
  color: #080f0f;
}
#projects h5 {
  color: #bae8e8;
}
#contact {
  padding-top: 5rem;
  color: #080f0f;
}

#contact .inbox {
  font-size: 1.5rem;
  color: #080f0f;
}
#contact button {
  background-color: #080f0f;
  color: #ffc107;
}
#tools {
  background-color: #080f0f;
  padding: 5rem 0;
}
#tools-1 > div,
#tools-2 > div,
#tools-3 > div {
  max-width: 110px;
  height: auto;
}
#footer {
  background-color: #080f0f;
  height: 60px;
  margin-top: 6rem;
}

/* Extra Small (default styles) */
/* Small */
@media (max-width: 575.98px) {
  /* Styles for screens less than 576 pixels */
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for screens between 576 and 767.98 pixels */
  #landing-image {
    margin-top: 100px;
  }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for screens between 768 and 991.98 pixels */
  #landing {
    padding-top: 120px;
  }
  #caption {
    margin: 0 50px;
  }
}

/* Large */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for screens between 992 and 1199.98 pixels */
  #landing {
    padding-top: 11rem;
  }
}

/* Extra Large */
@media (min-width: 1200px) {
  /* Styles for screens 1200 pixels and above */
  #landing {
    padding-top: 15rem;
  }
}
